@model IEnumerable<CheckInOut.DAL.ViewModels.VmDeviceVisitorType>
@{
    ViewBag.Title = "Visitor Type";
}

@foreach (var item in Model.OrderBy(s => s.OrderNo))
{
    <div class="row top-buffer">
        <div class="text-center">
            @*@Html.ActionLink(item.Display + " »", "VisitorDetail", "Home", new { deviceVisitorTypeId = item.Id }, new { @class = "btn btn-primary btn-lg btn-visitorType" })*@
            <a href="@Url.Action("SignIn", "Home", new {deviceVisitorTypeId = item.Id})" class="btn btn-danger btn-lg btn-visitorType">@item.Display <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        </div>
    </div>
}
<div class="row top-buffer">
    <div class="col-md-offset-2 col-sm-offset-1">
        @*@Html.ActionLink("Sign Out", "SignOut", "Home", new {@class = "btn btn-primary btn-lg btn-visitorType"})*@
        <a href="@Url.Action("SignOut", "Home")" class="btn btn-danger btn-lg btn-visitorType"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Sign Out</a>
    </div>
</div>
@section scripts
{
    <script type="text/javascript" language="javascript">
        var count = 60;
        var countdown = setInterval(function () {
            if (count === 0) {
                clearInterval(countdown);
                window.location.reload();

            }
            count--;
        }, 1000);
    </script>
}